<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>EBGaramond-SemiBold.ttf</string>
		<string>HarmonyOS_Sans_Regular.ttf</string>
		<string>HarmonyOS_Sans_Bold.ttf</string>
	</array>
</dict>
</plist>
